<%= simple_form_for(@guardian) do |f| %>
<% if @guardian.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

  <ul>
    <% @guardian.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container well">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.input_field :first_name, :class => "input-lg" %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :last_name %> <br>
        <%= f.input_field :last_name, :class => "input-lg"%>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :cell_phone, :label => "Best Contact Number" %><br>
        <%= f.input_field :cell_phone, as: :string, :class => "input-lg" %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.input_field :email, as: :string, :class => "input-lg" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :receives_text_msgs, :label => "Do You Receive Text Messages?" %> <br>
        <%= f.input_field :receives_text_msgs, collection: [['Yes', true],['No',false]], as: :radio_buttons, :class => "input-lg" %>
      </div>
    </div>
  </div>
</div>
<div class = "row">
      <div class="col-sm-6">
      <% if controller.action_name=="edit"%>
      <%= f.submit "Update", :class => 'btn btn-primary' %>
      <% else %>
      <%= f.submit "Create", :class => 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-sm-6">
       <% if controller.action_name=="edit" || controller.action_name=="new"%>
      <%= link_to 'Cancel', teams_path, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
