<h1>Guardians</h1>

<table>
  <thead>
    <tr>
      <th>Relation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= guardian.relation %></td>
        <td><%= link_to 'Show', guardian %></td>
        <td><%= link_to(image_tag('edit.png'), edit_guardian_path(guardian)) %></td>
        <td><%= link_to(image_tag('delete.png'), guardian, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guardian', new_guardian_path %>
