<%= simple_nested_form_for(@volunteer) do |f| %>
<% if @volunteer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

  <ul>
    <% @volunteer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class ="container well">

  <h3>General Info</h3><br>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.input_field :first_name, :class => "input-lg" %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6">
     <div class="field">
      <%= f.label :last_name %> <br>
      <%= f.input_field :last_name, :class => "input-lg" %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :role, :label => "What position are you registering for?" %> <br>
        <%= f.input_field :role, collection: Volunteer::ROLE_ARRAY[1,2], :selected => Volunteer::ROLE_ARRAY[1] %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :dob, :label => "Birthday" %> <br>
        <%= f.date_select :dob, { :discard_year => true} %>
      </div>
    </div>
</div>

<br><h3>Address</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :street %> <br>
      <%= f.input_field :street, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :city %> <br>
      <%= f.input_field :city, :class => "input-lg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :state %> <br>
      <%= f.input_field :state, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :zip %> <br>
      <%= f.input_field :zip, :class => "input-lg" %>
    </div>
  </div>
</div>

<br><h3>Contact Information</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :day_phone %> <br>
      <%= f.input_field :day_phone, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :cell_phone %> <br>
      <%= f.input_field :cell_phone, :class => "input-lg" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "Would you like to receive text messages regarding any official communication?" %><br>
      <%= f.check_box :receives_text_msgs %>
      <%= f.label "Yes (or unselect the box if you would like to opt-out)" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :email %><br>
      <%= f.input_field :email, :class => "input-lg" %>
    </div>
  </div>
</div>

<br><h3>Your History with Project CHUCK</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :years_with_proj_chuck, :label => "Please indicate number of years you have been with Project CHUCK. If none, please enter 0." %><br>
      <%= f.input_field :years_with_proj_chuck, collection: Student::PROJECTCHUCK_YEARS, :selected => Student::PROJECTCHUCK_YEARS[0] %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "What position would you like to volunteer for?" %> <br>
      <%= f.input_field :position, :class => "input-lg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "What teams have you coached for?" %><br>
      <%= f.input_field :team_coached, :class => "input-lg" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "If your child is playing, what is his/her name?" %><br>
      <%= f.input_field :child_name, :class => "input-lg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "Shirt Size:" %><br>
      <!--Shirt Size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL-->
      <%= f.input_field :shirt_size, collection: Volunteer::SHIRTSIZES, :selected => Volunteer::SHIRTSIZES[0] %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <h5>Indicate clearence(s) you have</h5>
    <div class="field">
      <!-- <p>For more information click <a href="volunteer_faq.pdf" target="_blank">here</a></p> -->
      <%= f.input :act33_clearance, as: :boolean, checked_value: true, unchecked_value: false, :label=>"Pennsylvania Child Abuse History Clearance (Act 33)"%>
      <!--If answered yes, please attach a copy of the clearance via carrier_wave gem-->
    </div>
    <div class="field">
      <%= f.input :act34_clearance, as: :boolean, checked_value: true, unchecked_value: false, :label=>"Pennsylvania State Police Criminal Record Check (Act 34)"%>
    </div>
    <div class="field">
      <%= f.input :act153_clearance, as: :boolean, checked_value: true, unchecked_value: false, :label=>"FBI Fingerprint based record check (Act 153)"%>
    </div>
  </div>
</div>

<br><h3>Availability and Feedback</h3><br>

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Are there any days you will not be able to volunteer during camp, list below:" %><br>
      <%= f.text_area :not_available, :class => "input-lg" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "What are two important skills you want to focus on in this year’s camp?" %><br>
      <%= f.text_area :two_skills, :class => "input-lg" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "What suggestions would you have to improve this year’s camp if you volunteered last year?" %><br>
      <%= f.text_area :suggestions, :class => "input-lg" %>
    </div>
  </div>
</div>

<br><h3>Volunteer Guidelines and Responsibilities</h3><br>

<!--"volunteer_sign"-->

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Signature" %><br>
      <%= f.input_field :volunteer_sign, :class => "input-lg" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Date" %><br>
      <%= f.date_select :volunteer_sign_date, :class => "input-lg" %>
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="col-sm-6">
    <div class="actions">
      <%= f.submit "Submit Registration", :class => 'btn btn-primary btn-lg outline', data:{ confirm:"By submitting, you affirm that all information entered is accurate to the best of your knowledge."} %>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="actions">
        <%= link_to 'Cancel Registration', volunteers_path, :class => 'btn btn-primary btn-lg outline', data:{ confirm:"Are you sure you want to cancel this form?"} %>
      </div>
    </div>
  </div>
</div>
<% end %>