<%= form_for(@volunteer) do |f| %>
<% if @volunteer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

  <ul>
    <% @volunteer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class ="container well">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6">
     <div class="field">
      <%= f.label :last_name %> <br>
      <%= f.text_field :last_name %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4">
    <div class="field">
      <%= f.label :team_id %> <br>
      <%= f.number_field :team_id %>
    </div>
  </div>
</div>

<h3>Address</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :street %> <br>
      <%= f.text_field :street %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :city %> <br>
      <%= f.text_field :city %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :state %> <br>
      <%= f.text_field :state %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :zip %> <br>
      <%= f.text_field :zip %>
    </div>
  </div>
</div>

<h3>Contact Information</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :day_phone %> <br>
      <%= f.text_field :day_phone %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :cell_phone %> <br>
      <%= f.text_field :cell_phone %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "Would you like to receive text messages regarding any official communication?" %><br>
      <%= f.check_box :receives_text_msgs %>
      <%= f.label "Yes (or unselect the box if you would like to opt-out)" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
  </div>
</div>

<h3>NEED SECTION HEADER HERE</h3><br>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "How many years have you been with 'Project CHUCK'?" %> <br>
      <%= f.number_field :years_with_proj_chuck %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "What position would you like to volunteer for?" %> <br>
      <%= f.text_field :position %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "What teams have you coached for?" %><br>
      <%= f.text_field :team_coached %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "If your child is playing, what is his/her name?" %><br>
      <%= f.text_field :child_name %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "Shirt Size:" %><br>
      <!--Shirt Size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL-->
      <%= f.text_field :shirt_size %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="field">
      <%= f.label "Do you have school clearances (Act 151 and Act 34)?" %><br>
      <%= f.check_box :has_school_clearance %>
      <!--If answered yes, please attach a copy of the clearance via carrier_wave gem-->
    </div>
  </div>
</div>

<h3>Availability and Feedback</h3><br>

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Are there any days you will not be able to volunteer during camp, list below:" %><br>
      <%= f.text_area :not_available %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "What are two important skills you want to focus on in this year’s camp?" %><br>
      <%= f.text_area :two_skills %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "What suggestions would you have to improve this year’s camp if you volunteered last year?" %><br>
      <%= f.text_area :suggestions %>
    </div>
  </div>
</div>

<h3>Volunteer Guidelines and Responsibilities</h3><br>

<!--"volunteer_sign"-->

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Signature" %><br>
      <%= f.text_field :volunteer_sign %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= f.label "Date" %><br>
      <%= f.text_field :volunteer_sign_date %>
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="col-sm-6">
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary btn-lg outline' %>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="actions">
        <%= link_to 'Back', volunteers_path, :class => 'btn btn-primary btn-lg outline' %>
      </div>
    </div>
  </div>
</div>
<% end %>