<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <br>

   <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
   <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <br>

   <div class="field">
    <%= f.label :team_id %>
    <%= f.number_field :team_id %>
  </div>

  <br>
   
  <div class="field">
    <%= f.label :cell_phone %>
    <%= f.text_field :cell_phone %>
  </div>

  <div class="field">
    <%= f.label :receives_text_msgs %><br>
    <%= f.check_box :receives_text_msgs %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
