<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @volunteer.user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @volunteer.team_id %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
