  <div class="container">
  <center><h2>Team Roster</h2>
<%#= link_to 'Add Student', new_volunteer_path %></center>
<br>

  <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Team</th>
      <th>School</th>
      <th>Student/participant cell phone</th>
      <th>Allergies</th>
      <th>Medications</th>
      <th>Jersey Size</th>
      <th>Cleared?</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |student| %>
   
   <tr>
    <td><%= link_to student.name, student %></td>
    <td><%= student.age %></td>
    <td><%= student.team.name %></td> 
    <td><%= student.school %></td> 
    <td><%= student.allergies %></td>
    <td><%= student.medications %></td> 
    <td><%= student.jersey_size %></td>
    <td><%= link_to(image_tag('edit.png'), edit_student_path(student)) %></td>
    <td><%= link_to(image_tag('delete.png'), student, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

</div>
