<div class="container well">
<center><h2>Teams</h2>
<%= link_to 'New Team', new_team_path %></center>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bracket</th>
      <th>Enrollment</th>
      <th>Record</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= "#{team.bracket.min_age} - #{team.bracket.max_age}" %></td>
        <td><%= "#{team.roster_spots.count} out of #{team.max_students}"  %></td>
        <td><%= "#{team.num_wins} wins by #{team.num_losses} losses"  %></td>
        <td><%= link_to(image_tag('edit.png'), edit_team_path(team)) %></td>
        <td><%= link_to(image_tag('delete.png'), team, method: :delete, data: { confirm: 'Are you sure?' })%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @teams, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>