<p id="notice"><%= notice %></p>

<p>
  <strong>Bracket:</strong>
  <%= @team.bracket_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Num students:</strong>
  <%= @team.roster_spots.count %>
</p>

<p>
  <strong>Max students:</strong>
  <%= @team.max_students %>
</p>

<p>
  <strong>Num wins:</strong>
  <%= @team.num_wins %>
</p>

<p>
  <strong>Num losses:</strong>
  <%= @team.num_losses %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
