<center><p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @team.name %>
  </p>

  <p>
    <strong>Bracket:</strong>
    <%= @team.bracket.min_age.to_s + "-" + @team.bracket.max_age.to_s %>
  </p>

  <p>
    <strong>Spots Filled:</strong>
    <%= @team.roster_spots.count.to_s + " out of " + @team.max_students.to_s %>
  </p> 

  <div class="col-xs-6 col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <%= render :partial => 'reg_details' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <%= render :partial =>  'household_details' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <%= render :partial => 'guardian_details' %>
      </div>
    </div>
  </div>

  <!-- <p>
    <strong>Num students:</strong>
    <%= @team.roster_spots.count %>
  </p>

  <p>
    <strong>Max students:</strong>
    <%= @team.max_students %>
  </p>

  <p>
    <strong>Num wins:</strong>
    <%= @team.num_wins %>
  </p>

  <p>
    <strong>Num losses:</strong>
    <%= @team.num_losses %>
  </p> -->

  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
</center>
