<div class="container">
  <center><h1>Brackets</h1>
  <%= link_to 'New Bracket', new_bracket_path %></center>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Bracket</th>
        <th>Gender</th>
        <th>Tournament</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @brackets.each do |bracket| %>
      <tr>
        <td><%= link_to "#{bracket.min_age} - #{bracket.max_age}", bracket %></td>
        <td><%= bracket.gender %></td>
        <td><%= bracket.tournament_id %></td>
        <td><%= link_to(image_tag('edit.png'), edit_bracket_path(bracket)) %></td>
        <td><%= link_to(image_tag('delete.png'), bracket, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>