 <div id="filterrific_results"> 
  <div class="container well">
  <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Team</th>
      <th>Student Cell phone</th>
      <th>Home phone</th>
      <th>Allergies</th>
      <th>Medications</th>
      <th>Cleared?</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |student| %>
   
   <tr>
    <% if student.gender == "Male"%>
    <td class="boy"><%= link_to student.proper_name, student %></td>
    <%else%>
    <td class="girl"><%= link_to student.proper_name, student %></td>
    <%end%> 
    <td><%= student.age %></td>
    <td>TEAM UNASSIGNED</td>
    <td><%= student.cell_phone %></td>
    <td><%= student.household.home_phone %></td>
    <td><%= student.allergies %></td>
    <td><%= student.medications %></td> 
        <td>
         <% if (student.has_report_card) && (student.has_proof_of_insurance) && (student.has_physical) && (student.has_birth_certificate) %>
         <%= link_to(image_tag('check16.png')) %> 
         <%else%>
         <%= link_to(image_tag('missing16.png')) %> 
         <%end%>
        </td>
    <td><%= link_to(image_tag('edit.png'), edit_student_path(student)) %></td>
    <td><%= link_to(image_tag('delete.png'), student, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
<!--     <td><%#= link_to(image_tag('delete.png'), student, :controller => :students_controller, :action => :change_active) %></td>
 -->  </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate students %>