<div class="container well">
  <center>
    <h1>Students</h1>
    <%= link_to(image_tag('add_student.png'), new_student_path) %>
  </center>
  
  <br>

  <ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu centerMe">
      <li>
        <a filter_type="price" id="price_button">Name</a>
      </li>
      <li>
        <a filter_type="distance" id="distance_button">School</a>
      </li>
      <li>
        <a class="filter_button" filter_type="time">Missing birth certificate</a>
      </li>
      <li>
        <a class="filter_button" filter_type="rating">Allergies</a>
      </li>
      <li>
        <a class="filter_button" filter_type="rating">Medications</a>
      </li>
    </ul>
  </li>
</ul>

<br>

  <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Household</th>  -->
      <!-- <th>Birth Date</th> -->
      <th>Cell phone</th>
      <!-- <th>Email</th>  -->
      <th>Grade</th>
      <!-- <th>Gender</th> -->
      <th>Allergies</th>
      <th>Medications</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |student| %>

   <br>
   
   <tr>
    <% if student.gender == "M"%>
    <td class="boy"><%= link_to student.proper_name, student %></td>
    <%else%>
    <td class="girl"><%= link_to student.proper_name, student %></td>
    <%end%> 
    <!-- <td><%= student.household_id %></td>  -->
    <!-- <td><%= student.dob %></td> -->
    <td><%= student.cell_phone %></td>
    <!-- <td><%= student.email %></td> -->
    <td><%= student.grade %></td> 
    <!-- <td><%= student.gender %></td>  -->
    <td><%= student.allergies %></td>
    <td><%= student.medications %></td> 
    <td><%= link_to(image_tag('edit.png'), edit_student_path(student)) %></td>
    <td><%= link_to(image_tag('delete.png'), student, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>