<div class="container well">
  <center>
    <h1>Students</h1>
    <%= link_to(image_tag('add_student.png'), new_student_path) %>
  </center>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%#= render(
  partial: 'students/list',
  locals: { students: @students }
) %>

<br>

  <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Household</th>  -->
      <!-- <th>Birth Date</th> -->
      <th>Cell phone</th>
      <!-- <th>Email</th>  -->
      <th>Grade</th>
      <!-- <th>Gender</th> -->
      <th>Allergies</th>
      <th>Medications</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |student| %>

   <br>
   
   <tr>
    <% if student.gender == "M"%>
    <td class="boy"><%= link_to student.proper_name, student %></td>
    <%else%>
    <td class="girl"><%= link_to student.proper_name, student %></td>
    <%end%> 
    <!-- <td><%= student.household_id %></td>  -->
    <!-- <td><%= student.dob %></td> -->
    <td><%= student.cell_phone %></td>
    <!-- <td><%= student.email %></td> -->
    <td><%= student.grade %></td> 
    <!-- <td><%= student.gender %></td>  -->
    <td><%= student.allergies %></td>
    <td><%= student.medications %></td> 
    <td><%= link_to(image_tag('edit.png'), edit_student_path(student)) %></td>
    <td><%= link_to(image_tag('delete.png'), student, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>