<div class="container">
<h1>Roster Spots</h1>
<%= link_to 'New Roster spot', new_roster_spot_path %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th>Student</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Position</th>
      <!-- <th></th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roster_spots.each do |roster_spot| %>
      <tr>
        <td><%= roster_spot.team_id %></td>
        <td><%= roster_spot.student_id %></td>
        <td><%= roster_spot.start_date %></td>
        <td><%= roster_spot.end_date %></td>
        <td><%= roster_spot.position %></td>
        <!-- <td><%#= link_to 'Show', roster_spot %></td> -->
        <td><%= link_to(image_tag('edit.png'), edit_roster_spot_path(roster_spot)) %></td>
        <td><%= link_to(image_tag('delete.png'), roster_spot, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>