<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<%= link_to image_tag('boblogo.png'), home_path %>
		</div>
		<div class="col-xs-6 col-sm-6">
			<h1 class="headerfont">Project C.H.U.C.K. 2015</h1>
		</div>
	</div>
</div>
<hr>
	<div class="container">
		<div class="row">
			<div class = "col-sm-12">
				<ul class="nav nav-pills nav-justified">
					<li><%= link_to 'Students', students_path %></li> 
					<li><%= link_to 'Teams', teams_path %></li>
					<li><%= link_to 'Brackets', brackets_path %></li>
					<li><%= link_to 'Volunteers', volunteers_path %></li>
					<li><%= link_to 'Tournaments', tournaments_path %></li>
					<li><%= link_to image_tag('userdropdown.png'), logout_path %></li>
			</ul>
		</div>
	</div>
</div>
<hr>
