<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<%= link_to image_tag('boblogo.png'), home_path %>
		</div>
		<div class="col-xs-6 col-sm-6">
			<h1 class="headerfont">Project C.H.U.C.K. 2015</h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class = "col-sm-12">

			<ul class="nav nav-pills nav-justified">
				<li><%= link_to 'Students', students_path %></li> 
				<li><%= link_to 'Teams', teams_path %></li>
				<li><%= link_to 'Brackets', brackets_path %></li>
				<li><%= link_to 'Volunteers', volunteers_path %></li>
				<li><%= link_to 'Tournaments', tournaments_path %></li>
				<%# if logged_in? %>
				<li><%= link_to image_tag('userdropdown.png'), logout_path %></li>
				<%# end %> 
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Account</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
					</ul>
				</li> -->
			</ul>

		</div>
	</div>
</div>

<hr>
