<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.input_field :username, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.input_field :role, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.input_field :email, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.input_field :password_digest, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :active_after %><br>
    <%= f.date_select :active_after, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :password_reset_token %><br>
    <%= f.input_field :password_reset_token, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :password_reset_sent_at %><br>
    <%= f.date_select :password_reset_sent_at, :class => "input-lg" %>
  </div>
  <div class="field">
    <%= f.label :volunteer_id %><br>
    <%= f.collection_select :volunteer_id, Volunteer.all, :id, :name, prompt: "Select volunteer...", :class => "input-lg" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
   