<%#= render :partial => 'partials/admin_nav' %>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div> -->
<!--   <div class="row"> -->
    <!-- <div class="col-sm-2">
      <div class="masthead">
        <ul class="nav nav-pills nav-stacked"><br>
          link_to(image_tag('edit.png'), edit_location_path(location)) -->
          <!-- <li><%#= link_to (image_tag('maleuser64.png')), students_path %></li> 
          <li><%#= link_to 'Teams', teams_path %></li>
          <li><%#= link_to 'Brackets', brackets_path %></li>
          <li><%#= link_to 'Tournaments', tournaments_path %></li>
        </ul>
         <h3 class="muted">Project name</h3> 
      </div>
    </div> -->

    <!-- <h3>Welcome back, Tasha<%#= current_user.instructor.proper_name %>!</h3> -->
  
<!--     </div>
  </div>
</div> -->

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <!-- <h3>Pills left</h3> -->
      <!-- tabs left -->
      <div class="tabbable">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li><%= link_to 'Students', students_path %></li> 
          <li><%= link_to 'Teams', teams_path %></li>
          <li><%= link_to 'Brackets', brackets_path %></li>
          <li><%= link_to 'Tournaments', tournaments_path %></li>
		  <% if logged_in? %>
		  	<li><%= link_to "Logout", logout_path %></li>
		  <% end %>
          <!-- <li><a href="#a" data-toggle="tab">Students</a></li>
          <li class="active"><a href="#b" data-toggle="tab">Two</a></li>
          <li><a href="#c" data-toggle="tab">Twee</a></li> -->
        </ul>
        <div class="tab-content col-md-10">
          <div class="jumbotron">
        <h2>Welcome, Tasha!</h2>
        <p class="lead">Here are the most recent Project C.H.U.C.K. updates!</p>
        </div> 
      </div>
      <!-- /tabs -->
    </div>

  </div>
  <!-- /row -->
</div>




<hr>