<div class="container well">
    <center><h1>Control Panel</h1></center>

    <br><br>

    brackets:<br>
    <%= link_to "Show All", brackets_path %><br>
    <%= link_to "Create", new_bracket_path %><br><br>

    games:<br>
    <%= link_to "Show All", games_path %><br>
    <%= link_to "Create", new_game_path %><br><br>

    guardians:<br>
    <%= link_to "Show All", guardians_path %><br>
    <%= link_to "Create", new_guardian_path %><br><br>

    households:<br>
    <%= link_to "Show All", households_path %><br>
    <%# link_to "Create", new_household_path %><br><br>

<!--     registrations:<br>
    <%= link_to "Show All", registrations_path %><br>
    <%= link_to "Create", new_registration_path %><br><br> -->

    roster_spots:<br>
    <%= link_to "Show All", roster_spots_path %><br>
    <%= link_to "Create", new_roster_spot_path %><br><br>

<!--     schools:<br>
    <%= link_to "Show All", schools_path %><br>
    <%= link_to "Create", new_school_path %><br><br> -->

    students:<br>
    <%= link_to "Show All", students_path %><br>
    <%= link_to "Create", new_student_path %><br><br>

<!--     team_games:<br>
    <%= link_to "Show All", team_games_path %><br>
    <%= link_to "Create", new_team_game_path %><br><br> -->

    teams:<br>
    <%= link_to "Show All", teams_path %><br>
    <%= link_to "Create", new_team_path %><br><br>

    tournaments:<br>
    <%= link_to "Show All", tournaments_path %><br>
    <%= link_to "Create", new_tournament_path %><br><br>

    users:<br>
    <%= link_to "Show All", users_path %><br>
    <%# link_to "Create", new_user_path %><br><br>

    volunteers:<br>
    <%= link_to "Show All", volunteers_path %><br>
    <%= link_to "Create", new_volunteer_path %><br><br>


</div>
