<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.time.strftime("%I:%M %P") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location.name %>
</p>

<div class="row">
  <div class="col-sm-12">
   <%= link_to(image_tag('edit.png'), edit_game_path(@game)) %> Edit | 
   <%= link_to(image_tag('back16.png'), games_path) %> Back
 </div>
</div>
