<!DOCTYPE html>
<html>
<head>
  <title>ProjectChuck2015</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "easyResponsiveTabs" %>
  <%#= javascript_include_tag "application"  %> 
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "easy-responsive-tabs" %>
  
</head>
<body>
    <%= render :partial => "partials/nav" %>  
  <div class="container">
    <div class="row">
      <div id="main_content">
        <%= yield %>
      </div>
    </div>
  </div>  
    <footer>
      <div class="row">
        <div id="footer">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer> 
    <%= javascript_include_tag "application" %>
  </body>
</html>
