<!DOCTYPE html>
<html>
<head>
  <title>ProjectChuck2015</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => "partials/nav" %>  
    <div class="row">
      <div class="col-xs-12 col-md-12" id="main_content">
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-xs-12 col-md-12" id="footer">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer> 
    <%= javascript_include_tag "application" %>
  </body>
</html>
