<%= simple_nested_form_for @household do |household_form| %>

<% if @household.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>
    <ul>
      <% @household.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<center><h2>Student Registration Form</h2></center> <br><br>

<fieldset>
  <div class="row">

    <div class="span7">
      <legend>Household Information</legend>
      <%= render :partial => "household_fields", :locals => { :f => household_form } %>
    </div>

    <div class="span7">
      <legend>Parents/Guardians in this Household</legend>
      <div id="household_guardians">
        <%= household_form.simple_fields_for :guardians do |guardian_form| %>
        <%= render :partial => "guardian_fields", :locals => { :f => guardian_form } %>
        <% end %> 
        <p>
          <%= household_form.link_to_add("+ Add Another Guardian", :guardians, :class => 'button tiny') %>
        </p><br /><br />
      </div> 
    </div>

    <div class="span7">
      <legend>Students in this Household</legend>
      <div id="household_students">
        <%= household_form.simple_fields_for :students do |student_form| %>
          <%= render :partial => "student_fields", :locals => { :f => student_form } %>
        <% end %> 
        <p>
         <%= household_form.link_to_add("+ Add Another Student", :students, :class => 'button tiny') %>
        </p> <br /><br />
      </div> 
    </div>
  </div>
</fieldset>

<div class="actions">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to 'Cancel', households_path, :class => 'btn btn-primary btn-lg outline' %>
    </div>
    <div class="col-sm-6">
      <%= household_form.submit nil, :class => 'btn btn-primary btn-lg outline' %>
    </div>
  </div>
</div>

<% end %>
