<div class="container formcon">
  <%= f.link_to_remove("X Remove guardian") %> <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.input_field :first_name %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :last_name %> <br>
        <%= f.input_field :last_name %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :cell_phone, :label => "Best Contact Number" %><br>
        <%= f.input_field :cell_phone %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.input_field :email %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :receives_text_msgs, :label => "Do You Receive Text Messages?" %><br>
        <%= f.input_field :receives_text_msgs, as: :radio_buttons %>
      </div>
    </div>
  </div>
</div>
