<div class="fields">
  <div class="min_attraction">

    <%= f.link_to_remove("x") %>

    <%= f.input :first_name, input_html: {class: "avg"} %>

    <%= f.input :last_name, input_html: {class: "avg"} %>

    <%= f.input :relation, input_html: {class: "avg"} %>

    <%= f.input :cell_phone, input_html: {class: "avg"} %>
    
    <%= f.input :receives_text_msgs, input_html: {class: "avg"} %>

    <%= f.input :email, input_html: {class: "avg"} %>

  </div>
</div>