<div class="container formcon">
  <%= f.link_to_remove("X Remove guardian") %> <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :last_name %> <br>
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-4 col-sm-4">
      <div class="field">
        <%= f.label :cell_phone %><br>
        <%= f.text_field :cell_phone %>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div class="field">
        <%= f.label "Receives Text Messages?" %><br>
        <%= f.check_box :receives_text_msgs %>
      </div>
    </div>
  </div>
</div>
