<%#= f.input :street, input_html: {class: "avg"} %>
<%#= f.input :city, input_html: {class: "avg"} %>
<%#= f.input :state, collection: Household::STATES_LIST %>
<%#= f.input :zip, input_html: {class: "avg"} %>
<%#= f.input :county, collection: Household::COUNTY_ARRAY %>
<%#= f.input :home_phone, input_html: {class: "avg"} %>
<%#= f.input :active, as: :boolean, checked_value: true, unchecked_value: false %>

<div class="container formcon">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :street, :label => "Street Address" %> <br>
				<%= f.input_field :street, :class => "input-lg"  %>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :city %><br>
				<%= f.input_field :city, :class => "input-lg" %>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :county %><br>
				<%= f.input_field :county, collection: Household::COUNTY_ARRAY, :selected =>  Household::COUNTY_ARRAY[0] %>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :state %><br>
				<%= f.input_field :state, collection: Household::STATES_LIST, :selected =>  Household::STATES_LIST[38]%>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :zip %><br>
				<%= f.input_field :zip, :class => "input-lg" %>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6">
			<div class="field">
				<%= f.label :home_phone %> <br>
				<%= f.input_field :home_phone, :class => "input-lg" %>
			</div>
		</div>
	</div>
</div>

<br>